body{
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.header{
  background-color:#F55A5A;
}

.nav{
  display: flex;
  justify-content: center;
  
}

.paragraphHeader{
  color: #ffff;
  font-size: 30px;
  margin-left: 6px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.1px;
}

.mainDiv{
  display: flex;
  align-items: flex-start;
  margin-top: 60px;
  margin-left: 40px;
}

.divJapan{
  display: flex;
  margin-left: 10px;
  
}

.markerImg{
  width: 10px;
  margin-right: 5px;
  margin-left: 3px;
}

.japanP{
  letter-spacing: 1.7px;
  font-size: 13px;
}


.viewDiv{
  margin-left: 10px;
  font-size: 13.5px;
  text-decoration: underline;
  color: #918E9B;
  font-weight: 400;

}

.infoBlock {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}

.topRow {
  display: flex; 
  gap: 6px;    
}

.fujiHeader{
  font-weight: 700;
  font-size: 25px;
  margin-left: 15px;
  line-height: 100%;
}

.description{
  margin-left: 15px;
  line-height: 150%;
}

.dateParagraph{
  font-weight: 700;
}
